// =============================================================================
// INTEGRITY-LIGHT.SCSS
// -----------------------------------------------------------------------------
// WooCommerce styles.
// =============================================================================

// =============================================================================
// TABLE OF CONTENTS
// -----------------------------------------------------------------------------
//   01. Functions, Variables, and Mixins
//   02. WooCommerce
// =============================================================================

// Functions, Variables, and Mixins
// =============================================================================

@import "../../../../tco/css/lib/import";
@import "../_scss/inc/import";
@import "../_scss/stacks/integrity/inc/import-light";



// WooCommerce
// =============================================================================

@import "../_scss/woocommerce";
@import "../_scss/stacks/integrity/woocommerce";