// =============================================================================
// _BREADCRUMBS.SCSS
// -----------------------------------------------------------------------------
// Site styles.
// =============================================================================

// =============================================================================
// TABLE OF CONTENTS
// -----------------------------------------------------------------------------
//   01. Base Styles
// =============================================================================

// Base Styles
// =============================================================================

.x-breadcrumbs {
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1.3;
  text-transform: uppercase;

  .delimiter {
    margin: 0 0.25em 0 0.45em;
  }
}