// =============================================================================
// ICON.SCSS
// -----------------------------------------------------------------------------
// Gravity Forms styles.
// =============================================================================

// =============================================================================
// TABLE OF CONTENTS
// -----------------------------------------------------------------------------
//   01. Functions, Variables, and Mixins
//   02. Gravity Forms
// =============================================================================

// Functions, Variables, and Mixins
// =============================================================================

@import "../../../../tco/css/lib/import";
@import "../_scss/inc/import";
@import "../_scss/stacks/icon/inc/import";



// Gravity Forms
// =============================================================================

@import "../_scss/stacks/icon/gravity-forms";