// =============================================================================
// _SCAFFOLDING.SCSS
// -----------------------------------------------------------------------------
// Site styles.
// =============================================================================

// =============================================================================
// TABLE OF CONTENTS
// -----------------------------------------------------------------------------
//   01. <body>
//   02. .x-site
// =============================================================================

// <body>
// =============================================================================

body {
  @include display(flex);
}



// .x-site
// =============================================================================

.site,
.x-site {
  @include flex(1 1 auto);
  position: relative;
  width: 100%;
  min-width: 1px;
}